@import '../../scss/_variables';


//SEARCH FORM CSS

.search-field {
    font-family: 'Roboto Condensed', sans-serif !important;
  width: 100%;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
}
.title {
  justify-content: center !important;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  position: relative;
  top:20px;
}

.question {
  width: 100%;
}

input[disabled],textarea[disabled] {
  color: $dark-grey;
}

.modal-body .form .control-label {
  text-align: left;
}

::ng-deep .cdk-overlay-container{
  z-index: 1200 !important;
}

//Width and height of each card is 100 minus the margins
.dashboard-card{
  width: calc(100% - 2 * #{$dashboard-card-margin});
  height: calc(100% - 2 * #{$dashboard-card-margin});
  margin: $dashboard-card-margin;
}
