<script src="http://code.highcharts.com/modules/exporting.js"></script>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '20px', fullScreenBackdrop: true }"></ngx-loading>

<div *ngIf="isDataLoaded">
<app-navbar-physio></app-navbar-physio>

<div class="container">
	  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
	<div class="row">
		<div class="col">
			<div class="card-container top animated fadeIn">
				<mat-card>
					<div class="row">
						<div class="col-md-8">
							<h1>{{ user?.givenName + " " + user?.familyName }}</h1>
						</div>
						<div class="col-md-2 col-md-offset-8">
							<div class="icon-bar">
								<mat-icon class="icon" matTooltip="Create Treatment" (click)="newTreatment()">assignment</mat-icon>
								<mat-icon class="icon" matTooltip="Add Payment">payment</mat-icon>
								<mat-icon class="icon" matTooltip="Send Message">mail outline</mat-icon>
							</div>
						</div>
						<div class="col-md-2 col-md-offset-10">
							<button mat-raised-button class="previous-button" (click)="viewAccountList()">Back to Account List</button>
						</div>
					</div>
					<!-- Tabs -->
					<mat-tab-group>
						<!-- Personal Information -->
						<mat-tab label="Personal Information">
							<form class="form-container">
								<!-- Buttons -->
								<div class="row">
									<div *ngIf="!isChanged; else edit" class="col">
										<div class="col button-container">
											<button mat-raised-button class="edit-button" (click)="editPatientInfo()">Edit</button>
										</div>
									</div>
									<ng-template #edit>
										<div class="col button-container">
											<button mat-raised-button class="cancel-button" (click)="cancelEdit()">Cancel</button>
											<button mat-raised-button class="save-button" (click)="savePatientInfo()">Save</button>
										</div>
									</ng-template>
								</div>
								<!-- Row 1 -->
								<div class="row">
									<div class="col form-container">
										<mat-form-field>
											<input matInput placeholder="Given Name" [(ngModel)]="user.givenName" name="user.givenName" [disabled]="!isChanged">
										</mat-form-field>
									</div>
									<div class="col form-container">
										<mat-form-field>
											<input matInput placeholder="Family Name" [(ngModel)]="user.familyName" name="user.familyName" [disabled]="!isChanged">
										</mat-form-field>
									</div>
								</div>
								<!-- Row 2 -->
								<div class="row">
									<div class="col-4 form-container">
										<mat-form-field>
											<mat-select [(ngModel)]="user.gender" name="user.gender" placeholder="Gender" [disabled]="!isChanged">
												<mat-option *ngFor="let gender of genders" [value]="gender._id">{{gender.name}}</mat-option>
												</mat-select>
										</mat-form-field>
									</div>
									<div class="col-6 form-container">
										<mat-form-field>
											<input matInput [matDatepicker]="picker" placeholder="Date of Birth" [(ngModel)]="user.DOB" name="user.DOB" [disabled]="!isChanged">
											<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
											<mat-datepicker #picker [startAt]="user.DOB"></mat-datepicker>
										</mat-form-field>
									</div>
									<div class="col-2 form-container">
										<mat-form-field>
											<input matInput placeholder="Current Age" [value]="age" [disabled]="!isChanged">
										</mat-form-field>
									</div>
								</div>
								<!-- Row 3 -->
								<div class="row">
									<div class="col-3 form-container">
										<mat-form-field>
											<input matInput placeholder="Street" [(ngModel)]="user.address" name="user.address" [disabled]="!isChanged">
										</mat-form-field>
									</div>
									<div class="col-3 form-container">
										<mat-form-field>
											<input matInput placeholder="City" [(ngModel)]="user.city" name="user.city" [disabled]="!isChanged">
										</mat-form-field>
									</div>
									<div class="col-2 form-container">
										<mat-form-field>
											<mat-select [(ngModel)]="user.province" name="user.province" placeholder="Province" [disabled]="!isChanged">
												 <mat-option *ngFor="let province of provinces" [value]="province._id">{{province.name}}</mat-option>
												</mat-select>
										</mat-form-field>
									</div>
									<div class="col-2 form-container">
										<mat-form-field>
											<input matInput placeholder="Postal Code" [(ngModel)]="user.postalCode" name="user.PostalCode" [disabled]="!isChanged">
										</mat-form-field>
									</div>
									<div class="col-2 form-container">
										<mat-form-field>
											<mat-select [(ngModel)]="user.country" name="user.country" placeholder="Country" [disabled]="!isChanged">
												<mat-option *ngFor="let country of countries" [value]="country._id">{{country.name}}</mat-option>
												</mat-select>
										</mat-form-field>
									</div>
								</div>
								<!-- Row 4 -->
								<div class="row">
									<div class="col-8 form-container">
										<mat-form-field>
											<input matInput placeholder="Email" [(ngModel)]="user.email" name="user.email" [disabled]="!isChanged">
										</mat-form-field>
									</div>
									<div class="col-4 form-container">
										<mat-form-field>
											<input matInput placeholder="Phone Number" [(ngModel)]="user.phone" name="user.phone" [disabled]="!isChanged">
										</mat-form-field>
									</div>
								</div>
							</form>
						</mat-tab>
						<!-- Treatments -->
						<mat-tab label="Treatments">
							<div *ngIf="treatments == 0 else treatmentList" class="empty">
								<h6> {{ user?.givenName + " " + user?.familyName }} has no treatment history</h6>
							</div>
							<ng-template #treatmentList>
								<div *ngIf="!showPlan else rehabPlan" class="animated fadeIn">
									<div class="row top">
										<div class="col">
											<button mat-raised-button class="crete-treatment-button" (click)="newTreatment()">Create New Treatment</button>
										</div>
									</div>
									<mat-divider></mat-divider>
									<mat-list>
										<mat-list-item *ngFor="let treatment of treatments; let i = index" [attr.data-index]="i" class="treatment" (click)="showRehabPlan(i)">
											<div class="col-4">
												<b>Assignment Date: </b> {{ treatment?.dateAssign | date : "dd.MM.y" }}
											</div>
											<div class="col-4">
												<b>Start Date: </b> {{ treatment?.dateStart | date : "dd.MM.y" }}
											</div>
											<div class="col-4">
												<b>Active: </b> {{ treatment?.active }}
											</div>
											<mat-divider></mat-divider>
										</mat-list-item>
										<mat-divider></mat-divider>
								</mat-list>
							</div>
							</ng-template>
							<!-- View to show the details of a specific rehab plan -->
							<ng-template #rehabPlan>
								<form class="form-container animated fadeIn">
								<div class="row">
									<div class="col top">
										<button mat-raised-button class="edit-rehab-plan-button" (click)="editRehabPlan()">Edit</button>
										<button mat-raised-button class="renew-button"(click)="renewTreatment()">Renew</button>
										<button mat-raised-button class="close-button" (click)="closeTreatment()">Close</button>
										<button mat-raised-button class="treatment-list-button" (click)="viewTreatmentList()">Back to Treatment List</button>
									</div>
								</div>
								<form class="form-container">
									<div class="row">
										<div class="col-8 form-container border-right">
											<!-- Treatment Details -->
											<h4><b>Treatment Details</b></h4>
											<hr>
											<div class="row">
												<div class="col-4 form-container">
													<mat-form-field>
														<input matInput placeholder="Assigned" [ngModel]="activeTreatment.dateAssign | date : 'dd.MM.y'"name="activeTreatment.dateAssign" readonly>
													</mat-form-field>
												</div>
												<div class="col-4 form-container">
													<mat-form-field>
														<input matInput placeholder="Started" [ngModel]="activeTreatment.dateStart | date : 'dd.MM.y'" name="activeTreatment.dateStart" readonly>
													</mat-form-field>
												</div>
												<div class="col-4 form-container">
													<mat-form-field>
														<input matInput placeholder="Active" [ngModel]="activeTreatment.active" name="activeTreatment.active" readonly>
													</mat-form-field>
												</div>
											</div>
											<!-- Rehab Plan details -->
											<h4><b>Rehabilitation Plan</b></h4>
											<hr>
											<div class=" form-container animated fadeIn">
												<div class="row">
													<div class="col-4 form-container">
														<mat-form-field>
															<input matInput placeholder="Name" [(ngModel)]="activeRehabPlan.name" name="activeRehabPlan.name" readonly>
														</mat-form-field>
													</div>
													<div class="col-4 form-container">
														<mat-form-field>
															<input matInput placeholder="Author Name" [(ngModel)]="activeRehabPlan.authorName" name="activeRehabPlan.authorName" readonly>
														</mat-form-field>
													</div>
													<!--
													<div class="col-4 form-container">
														<mat-form-field>
															<input matInput placeholder="Physiotherapist" [value]="physiotherapist.givenName + physiotherapist.familyName" name="physiotherapist.givenName + physiotherapist.familyName">
														</mat-form-field>
													</div>
												-->
												</div>
												<div class="row">
													<div class="col-12 form-container">
														<mat-form-field>
															<input matInput placeholder="Description" [(ngModel)]="activeRehabPlan.description" name="activeRehabPlan.description" readonly>
														</mat-form-field>
													</div>
												</div>
												<div class="row">
													<div class="col-8 form-container">
														<mat-form-field>
															<input matInput placeholder="Goal" [(ngModel)]="activeRehabPlan.goal" name="activeRehabPlan.goal" readonly>
														</mat-form-field>
													</div>
													<div class="col-4 form-container">
														<mat-form-field>
															<input matInput placeholder="Time Frame to Complete" [(ngModel)]="activeRehabPlan.timeFrameToComplete" name="activeRehabPlan.timeFrameToComplete" readonly>
														</mat-form-field>
													</div>
												</div>
												<!--
												<div class="row">
													<div class="col-4 form-container">
														<mat-form-field>
															<input matInput placeholder="Start Date" [(ngModel)]="activeRehabPlan.startDate" name="activeRehabPlan.startDate" readonly>
														</mat-form-field>
													</div>
													<div class="col-4 form-container">
														<mat-form-field>
															<input matInput placeholder="End Date" [(ngModel)]="activeRehabPlan.endDate" name="activeRehabPlan.endDate" readonly>
														</mat-form-field>
													</div>
												</div>
											-->
										</div>
											<h4><b>Exercises</b></h4>
											<div class="row">
												<div *ngIf="activeRehabPlan.exerciseOrders.length == 0 else exerciseList">
													<div class="col-12 empty-rehab-plan">
														<h6>No exercises currently.</h6>
													</div>
												</div>
												<ng-template #exerciseList>
													<div class="col-12 form-container animated fadeIn">
													<mat-list>
														<mat-divider></mat-divider>
															<mat-list-item *ngFor="let exercise of activeRehabPlan.exerciseOrders; let i = index" [attr.data-index]="i" class="treatment form-container" data-toggle="modal" data-target="#viewExerciseModal" (click)="setActiveExercise(i)">
																	<div class="col-4 form-container">
																		Name: {{ exercise?.name }}
																	</div>
																	<div class="col-8 form-container">
																		Description: {{ exercise?.description }}
																	</div>
																<mat-divider></mat-divider>
															</mat-list-item>
													</mat-list>
												</div>
												</ng-template>
											</div>
											<h4 class="top"><b>Assesment Tests</b></h4>
											<hr>
											<div class="row">
												<div *ngIf="activeRehabPlan.assessmentTests.length == 0 else asessmentTestList">
													<div class="col-12 empty-rehab-plan">
														<h6>No asessment tests currently.</h6>
													</div>
												</div>
												<ng-template #asessmentTestList>
													<div class="col-12 form-container animated fadeIn">
													<mat-list>
															<mat-divider></mat-divider>
															<mat-list-item *ngFor="let test of activeRehabPlan.assessmentTests; let i = index" [attr.data-index]="i" class="treatment form-container" data-toggle="modal" data-target="#viewAssessmentTestModal">
																	<div class="col-4 form-container">
																		Name: {{ test?.name }}
																	</div>
																	<div class="col-4 form-container">
																		Open Date: {{ test?.openDate | date : "dd.MM.y" }}
																	</div>
																	<div class="col-4 form-container">
																		<div *ngIf="test.dateCompleted == null else showDateCompleted">
																			Completed: In progress
																		</div>
																		<ng-template #showDateCompleted>
																			Completed: {{ test?.dateCompleted | date : "dd.MM.y" }}
																		</ng-template>
																	</div>
																<mat-divider></mat-divider>
															</mat-list-item>
													</mat-list>
												</div>
												</ng-template>
											</div>
										</div>
										<!-- Rehab plan history -->
										<div class="col-4 form-container">
											<h4><b> History</b><mat-icon class="icon icon-bar" matTooltip="Visualize History" data-toggle="modal" data-target="#visualizeTreatmentsModal"><i class="material-icons">insert_chart</i></mat-icon></h4>
											<hr>
											<div class="row history">
												<div class="col history">
													<mat-list>
														<mat-list-item *ngFor="let plan of rehabPlanHistory; let i = index" [attr.data-index]="i" class="treatment" (click)="setActiveRehabPlan(i)" [class.highlight]="i === selectedRow">
															<div class="col-8">
																{{ plan?.name }}
															</div>
															<div class="col-4">
																<div *ngIf="plan.endDate == null" else showEndDate>
																	End: Active
																</div>
																<ng-template #showEndDate>
																	End: {{ plan?.endDate | date : "dd.MM.y" }}
																</ng-template>
															</div>
															<mat-divider></mat-divider>
														</mat-list-item>
													</mat-list>
												</div>
											</div>
										</div>
									</div>
								</form>
								</form>
							</ng-template>
						</mat-tab>
						<!-- Appointments -->
						<mat-tab label="Appointments">
							<div *ngIf="user.appointments.length == 0 else appointmentList" class="empty">
								<h6> {{ user?.givenName + " " + user?.familyName }} has no appointment history</h6>
							</div>
							<ng-template #appointmentList>
								<h6 class="top">Appointment history for <i>{{ user.givenName + " " + user.familyName }}</i></h6>
								<mat-divider></mat-divider>
								<mat-list>
									<mat-list-item *ngFor="let appointment of appointments let i = index" [attr.data-index]="i">
										<div class="col-2">
											<b>Date: </b> {{ appointment?.date | date : "dd.MM.y" }}
										</div>
										<div class="col-2">
											<b>End Date: </b> {{ appointment?.endStart | date : "dd.MM.y" }}
										</div>
										<div class="col-8">
											<b>Reason: </b> {{ appointment?.reason }}
										</div>
										<mat-divider></mat-divider>
									</mat-list-item>
								</mat-list>
							</ng-template>
						</mat-tab>
						<!-- Payments -->
						<mat-tab label="Payments">
							<div *ngIf="user.payments.length == 0 else paymentList" class="empty">
								<h6> {{ user?.givenName + " " + user?.familyName }} has no payment history</h6>
							</div>
							<ng-template #paymentList>
								<h6 class="top">Payment history for <i>{{ user.givenName + " " + user.familyName }}</i></h6>
								<mat-divider></mat-divider>
								<mat-list>
									<mat-list-item *ngFor="let payment of payments let i = index" [attr.data-index]="i">
										<div class="col-2">
											<b>Date: </b> {{ payment.dayTimeStamp | date : "dd.MM.y" }}
										</div>
										<div class="col-2">
											<b>Amount: </b> {{ payment.amount }}
										</div>
										<div class="col-8">
											<b>Note: </b> {{ payment.note }}
										</div>
										<mat-divider></mat-divider>
									</mat-list-item>
								</mat-list>
							</ng-template>
						</mat-tab>
					</mat-tab-group>
				</mat-card>
			</div>
		</div>
	</div>
</div>
</div>

<!-- View exercise modal -->
<div class="modal fade" id="viewExerciseModal" tabindex="-1" role="dialog"
		 aria-labelledby="viewExerciseModal" aria-hidden="true">
		 <div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<div class="modal-title">
							<h6 class="text-center"><b>{{ activeExercise?.name }}</b></h6>
						</div>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="col modal-container">
							<div class="row">
								<div class="col">
									<b>Author:</b> {{ activeExercise?.authorName }}
								</div>
							</div>
							<div class="row">
								<div class="col">
									<b>Description:</b> {{ activeExercise?.description }}
								</div>
							</div>
							<div class="row">
								<div class="col">
									<b>Objectives:</b> {{ activeExercise?.objectives }}
								</div>
							</div>
							<div class="row">
								<div class="col-4">
									<b>Location:</b> {{ activeExercise?.location }}
								</div>
								<div class="col-4">
									<b>Duration:</b> {{ activeExercise?.duration }}
								</div>
								<div class="col-4">
									<b>Frequency:</b> {{ activeExercise?.frequency }}
								</div>
							</div>
							<div class="row">
								<div class="col">
									<b>Target Date:</b> {{ activeExercise?.targetDate | date : "dd.MM.y" }}
								</div>
							</div>
							<div class="row">
								<div class="col">
									<img src="{{activeExercise.multimediaURL}}" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
</div>

<!-- View assessment tests modal -->
<div class="modal fade" id="viewAssessmentTestModal" tabindex="-1" role="dialog"
		 aria-labelledby="viewAssessmentTestModal" aria-hidden="true">
		 <div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<div class="modal-title">
							<h6 class="text-center"><b>Assessment Test</b></h6>
						</div>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="col modal-container">
							<div class="row">
								<div class="col">
									<b>Author:</b> {{ activeAssessmentTest?.authorName }}
								</div>
							</div>
							<div class="row">
								<div class="col">
									<b>Description:</b> {{ activeAssessmentTest?.description }}
								</div>
							</div>
							<div class="row">
								<div class="col">
									<b>Objectives:</b> {{ activeExercise?.objectives }}
								</div>
							</div>
							<div class="row">
								<div class="col-4">
									<b>Open Date:</b> {{ activeAssessmentTest?.openDate | date : "dd.MM.y" }}
								</div>
								<div class="col-4">
									<b>Date Completed:</b> {{ activeAssessmentTest?.dateCompleted | date : "dd.MM.y" }}
								</div>
							<div class="row">
								<div class="col">
									<b>Test Results:</b>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<b>Recommendations:</b>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
     </div>
</div>

<!-- Visualize Treatments modal -->
<div class="modal fade" id="visualizeTreatmentsModal" tabindex="-1" role="dialog"
     aria-labelledby="visualizeTreatmentsModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">
          <h6 class="text-center"><b>Treatment Success</b></h6>
        </div>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <div class="modal-body">
        <highcharts-chart
        [Highcharts]="Highcharts"

        [constructorType]="chartConstructor"
        [options]="chartOptions"
        [callbackFunction]="chartCallback"

        [(update)]="updateFlag"

        style="width: 100%; height: 400px; display: block;"
        ></highcharts-chart>
      </div>
    </div>
  </div>
</div>
