<app-navbar-physio></app-navbar-physio>

<div class="container">
	<div class="row">
		<div class="col border">
			<div class="header">
				<h5>Currently Viewing: {{ patient.givenName + " " + patient.familyName }}</h5>
			</div>
			<div class="col">
				<mat-tab-group>
					<!-- Personal information tab -->
		  			<mat-tab label="Personal Information">
						<div class="row float-right button-container">
							<div *ngIf="!isChanged; else edit" class="col">
								<button mat-raised-button class="edit-button" (click)="editPatientInfo()">Edit</button>
							</div>
							<ng-template #edit>
								<div class="col">
									<button mat-raised-button class="save-button" (click)="savePatientInfo()">Save</button>
									<button mat-raised-button class="cancel-button" (click)="cancelEdit()">Cancel</button>
								</div>
							</ng-template>
						</div>
						<form class="form-container">
							<!-- Row 1 -->
							<div class="row">
								<div class="col form-container">
									<mat-form-field>
								 		<input matInput placeholder="Given Name" [value]="patient.givenName" [disabled]="!isChanged">
									</mat-form-field>
								</div>
								<div class="col form-container">
									<mat-form-field>
										<input matInput placeholder="Family Name" [value]="patient.familyName" [disabled]="!isChanged">
									</mat-form-field>
								</div>
							</div>
							<!-- Row 2 -->
							<div class="row">
								<div class="col-4 form-container">
									<mat-form-field>
									 	<mat-select [(value)]="patient.gender" placeholder="Gender" [disabled]="!isChanged">
									    <mat-option value="Male">Male</mat-option>
									    <mat-option value="Female">Female</mat-option>
									    <mat-option value="Other">Other</mat-option>
									  	</mat-select>
									</mat-form-field>
								</div>
								<div class="col-8 form-container">
									<mat-form-field>
										<input matInput placeholder="Date of Birth" [value]="patient.DOB" [disabled]="!isChanged">
									</mat-form-field>
								</div>
							</div>
							<!-- Row 3 -->
							<div class="row">
								<div class="col-4 form-container">
									<mat-form-field>
										<input matInput placeholder="Street" [value]="patient.street" [disabled]="!isChanged">
									</mat-form-field>
								</div>
								<div class="col-4 form-container">
									<mat-form-field>
										<input matInput placeholder="City" [value]="patient.city" [disabled]="!isChanged">
									</mat-form-field>
								</div>
								<div class="col-2 form-container">
									<mat-form-field>
									 	<mat-select [(value)]="patient.province" placeholder="Province" [disabled]="!isChanged">
										    <mat-option value="AB">AB</mat-option>
										    <mat-option value="BC">BC</mat-option>
										    <mat-option value="MB">MB</mat-option>
											<mat-option value="NB">NB</mat-option>
											<mat-option value="NL">NL</mat-option>
											<mat-option value="NS">NS</mat-option>
											<mat-option value="NT">NT</mat-option>
											<mat-option value="NU">NU</mat-option>
											<mat-option value="ON">ON</mat-option>
											<mat-option value="PE">PE</mat-option>
											<mat-option value="QC">QC</mat-option>
											<mat-option value="SK">SK</mat-option>
											<mat-option value="YT">YT</mat-option>
									  	</mat-select>
									</mat-form-field>
								</div>
								<div class="col-2 form-container">
									<mat-form-field>
										<input matInput placeholder="Postal Code" [value]="patient.postalCode" [disabled]="!isChanged">
									</mat-form-field>
								</div>
							</div>
							<!-- Row 4 -->
							<div class="row">
								<div class="col-4 form-container">
									<mat-form-field>
										<input matInput placeholder="Phone Number" [value]="patient.phone" [disabled]="!isChanged">
									</mat-form-field>
								</div>
								<div class="col-4 form-container">
									<mat-form-field>
										<input matInput placeholder="Health Card Number" [value]="patient.healthCardNumber" [disabled]="!isChanged">
									</mat-form-field>
								</div>
								<div class="col-4 form-container">
									<mat-form-field>
										<mat-select [(value)]="patient.maritalStatus" placeholder="Marital Status" [disabled]="!isChanged">
											<mat-option value="Single">Single</mat-option>
											<mat-option value="Married">Married</mat-option>
											<mat-option value="Divorced">Divorced</mat-option>
											<mat-option value="Other">Other</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
							</div>
							<!-- Row 5 -->
							<div class="row">
								<div class="col-6 form-container">
									<mat-form-field>
										<input matInput placeholder="Occupation" [value]="patient.occupation" [disabled]="!isChanged">
									</mat-form-field>
								</div>
								<div class="col-6 form-container">
									<mat-form-field>
										<input matInput placeholder="Email" [value]="patient.email" [disabled]="!isChanged">
									</mat-form-field>
								</div>
							</div>
						</form>
		  			</mat-tab>
					<!-- Treatment History-->
				  	<mat-tab label="Treatments">
						<mat-accordion>
						  <mat-expansion-panel>
						    <mat-expansion-panel-header>
						      <mat-panel-title>
						        Treatment Id:
						      </mat-panel-title>
						      <mat-panel-description>
						        Date:
						      </mat-panel-description>
						    </mat-expansion-panel-header>
						  </mat-expansion-panel>
						</mat-accordion>
				  </mat-tab>
				  <!-- Appointments -->
				  <mat-tab label="Appointments">
					  <mat-accordion>
						<mat-expansion-panel>
						  <mat-expansion-panel-header>
							<mat-panel-title>
							  Appointment Id:
							</mat-panel-title>
							<mat-panel-description>
							  Date:
							</mat-panel-description>
						  </mat-expansion-panel-header>
						</mat-expansion-panel>
					  </mat-accordion>
				</mat-tab>
				<!-- Payments -->
				<mat-tab label="Payments">
					<mat-accordion>
					  <mat-expansion-panel>
						<mat-expansion-panel-header>
						  <mat-panel-title>
							 Payment Id:
						  </mat-panel-title>
						  <mat-panel-description>
							Date:
						  </mat-panel-description>
						</mat-expansion-panel-header>
					  </mat-expansion-panel>
					</mat-accordion>
			  	</mat-tab>
			  </mat-tab-group>
	  		</div>
		</div>
	</div>
</div>
