@import '../../scss/_variables';

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.mat-row{
  cursor: pointer;
}

.mat-row:hover{
  background-color: $data-table-background-hover-color;
}
