<app-navbar-admin></app-navbar-admin>

<div class="container">
  <!--Title and description-->
  <h1>Forms</h1>
  <p>Create, edit, and delete custom forms to be used throughout the site.</p>

  <!-- Question List -->
  <div *ngFor="let form of allForms">
    <!-- Card for each question -->
    <div class="col-md-12 no-left-right-margin no-left-right-padding">
      <mat-card class="dashboard-card no-left-right-margin">
        <mat-card-title>{{form.name}}</mat-card-title>
        <mat-card-subtitle>{{form.description}}</mat-card-subtitle>
        <mat-card-actions>
          <button mat-button class="editForm" (click)="storeFormID(form._id)" routerLink="/admin/edit-form">Edit</button>
          <button mat-button class="deleteForm" (click)="deleteForm(form)">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <br>
  <br>

  <div>
    <button mat-raised-button (click)="newForm()" routerLink="/admin/edit-form">Create New Form</button>
  </div>

</div>
