<mat-toolbar class="z-depth-5">
  <span class="full-height">
    <img class="logo" src="../../assets/images/logo.png" alt="Self Start System logo">
  </span>

  <span class="navbar-fill-remaining-space"></span>
  <span class="full-height">
    <!--[routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"-->
    <button mat-button routerLink="/admin/home" class="full-height">Dashboard</button>
    <button mat-button routerLink="/admin/forms" class="full-height">Manage Forms</button>
    <button mat-button routerLink="/admin/user-accounts" class="full-height">Manage Accounts</button>
    <button mat-raised-button class="logout-button" (click)="logout()">Logout</button>
  </span>
</mat-toolbar>
