@import '../../scss/_variables';

.navbar-fill-remaining-space{
  /* This fills the remaining space, by using flexbox.
   Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

img.logo{
  max-width: 100%;
  max-height: 100%;
}

button.profile-button{
  background-color: $beautiful-blue;
  border-radius: 0px;
  color: $white
}

mat-toolbar{
  background-color:$white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
