@import '../../scss/_variables';
@import '~@angular/material/theming';


.top {
  margin-top: 2.5%;
}

.header {
  padding: 2%;
}

.form-group {
  padding: 2%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group > * {
  width: 100%;
}

.button-container {
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.next-button {
  background-color: $magic-night;
  color: $white;
}

.previous-button {
  background-color: $flash-of-orange;
  color: $white;
}
.login-button{
  background-color: $beautiful-blue;
  color: $white;
  border-radius: 1px;
}
