@import '../../scss/_variables';
// @import '../../scss/sidebar';
@import '~@angular/material/theming';
@import '../../../node_modules/ng2-dnd/bundles/style.css';


.list-group {
    margin-left: 30%;
    margin-right: 30%;
}

mat-tab-group {
  font-family: 'Roboto Condensed', sans-serif !important;
}

// /deep/ .mat-tab-group.mat-primary mat-tab-label-active{
//   background-color: blue;
// }
//
// md-tabs > md-tabs-wrapper {
//   background-color: #f00 !important;
// }

// /deep/ mat-ink-bar{ background-color:#fff; }

mat-tab {
    font-family: 'Roboto Condensed', sans-serif !important;
}

/* Styles for tab labels */
.mat-tab-label {
    // min-width: 25px !important;
    // padding: 5px;
    // background-color: red;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-size: 14px;
}


/* Styles for the active tab label */
// .mat-tab-label.mat-tab-label-active {
//     // min-width: 25px !important;
//     // padding: 5px;
//     // background-color: red;
//     font-family: 'Roboto Condensed', sans-serif;
//     // color: blue !important;
//     // font-weight: 700;
// }

/* Styles for the ink bar */
.mat-ink-bar {
    // background-color: green !important;
}

.example-container2 {
  // display: flex;
  // width: 600px !important;
  font-size: 20px;
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;

  justify-content: center !important;
  flex-direction: column;
}

.example-container2 > * {
  width: 100%;
}

mat-form-field.name {
    margin-left: 4%;
    width: 425px !important;
}

mat-form-field.familyName {
  margin-left: 4%;
  width: 100% !important;
}

mat-form-field.frequency {
    margin-left: 4%;
    width: 200px !important;
}


mat-form-field.authorName {
    margin-left: 4%;
    width: 425px !important;
}

mat-form-field.goal {
    margin-left: 4%;
    width: 425px !important;
}

mat-form-field.timeframe {
    margin-left: 4%;
    width: 425px !important;
}

mat-form-field.description {
    margin-left: 4%;
    width: 900px !important;
}

.title {
    justify-content: center !important;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    position: relative;
    top:20px;
}

.subtitle {
    justify-content: center !important;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    position: relative;
    font-size: 24px;
    top:10px;
}

mat-card {
    align-items: center;
    height: 250px;
    width: 200px;
}


.example-container {
    width: 100vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    // position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.example-sidenav-content {
    display: flex;
    height: 100%;
    // align-items: center;
    // justify-content: center;
    background-color: $white;
}

.mat-button.mat-small {
    padding: 0px;
    min-width: 10px;
}


button.blue {
    background-color: $beautiful-blue;
    // @include mat-elevation(2);
}

// mat-list-item:hover {
//     background-color: rgb(0, 0, 0) !important;
//       color:rgb(255, 255, 255);
// }

// .mat-list-item.sidebar {
//     color: #cccccc !important;
//     height: 30px !important;
// }
.mat-list-option.listofexercises {
    text-align: center;
    margin-left: 10%;
    color: #000000;
    height: 30px !important;
    width: 400px;
    background-color: #eeeeee !important;
}
// .mat-select {
//     // height: 30px !important;
//     width: 400px !important;
// }

// mat-list-item:hover {
//     background-color:
// }

mat-form-field.selectexercise {
    margin-left: 4%;
    width: 400px !important;
}
// .mat-list-item.selected {
//     color: #cccccc !important;
//     height: 30px !important;
// }
.mat-list-item-content {
    padding: 0px !important;
    height: 30px !important;
}
//
// .mat-list-item.sidebar:hover {
//     background-color: #28293d;
// }
//
// .mat-list-item.selected {
//     background-color: $rare-turquoise;
// }
//
// .mat-list-item.selected:hover {
//     background-color:  #0c657a;
// }
//
//
// .mat-list-item.sidebar:focus {
//     background-color: $rare-turquoise;
// }
//
// .mat-list-item.sidebar:focus:hover {
//     background-color: #0c657a;
// }
mat-sidenav {
    background-color: $magic-night;


    // background-color: $white;
    // background-color: #fdfdfd;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 15vw;

    // padding: 20px;
}

mat-sidenav-container {
    // position: relative;
    // margin-top: 6px;
    // top: 6px;
    @include mat-elevation(1);
}

mat-toolbar{
    background-color:$white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    @include mat-elevation(5);
}



// .example-container {
//   display: flex;
//   flex-direction: column;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }
//
// .example-is-mobile .example-toolbar {
//   position: fixed;
//   /* Make sure the toolbar will stay on top of the content as it scrolls past. */
//   z-index: 2;
// }
//
// h1.example-app-name {
//   margin-left: 8px;
// }
//
// .example-sidenav-container {
//   /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
//      causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
//   flex: 1;
// }

// .example-is-mobile .example-sidenav-container {
//   /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
//      `<body>` to be our scrolling element for mobile layouts. */
//   flex: 1 0 auto;
// }



img.logo{
    max-width: 100%;
    max-height: 100%;
}

button.login-button{
    background-color: $electric-glow;
    border-radius: 0px;
}

button.move{
    background-color: #439b42;
    border-radius: 0px;
}

button.stickToBottom{
    position: fixed;
    bottom: 0px;
    background-color: #20A8E7;
    border-radius: 0px;
    height: 40px;
    font-size: 30px;
    width: 100%;
}

button.delete-button{
    background-color: rgba(193, 0, 0, 0.85);
    border-radius: 0px;
}

$custom-typography: mat-typography-config(
$font-family: 'Roboto Condensed, sans-serif',
$headline: mat-typography-level(50px, 48px, 300),
$body-1: mat-typography-level(30px, 30px, 300)
);

@include mat-toolbar-typography($custom-typography);
@include mat-button-typography($custom-typography);
@include mat-list-typography($custom-typography);
@include mat-sidenav-typography($custom-typography);
