<app-navbar-general></app-navbar-general>

<h1 class="title">
    Create New Account
    <p style="font-size:16px">
    </p>
</h1>

<h1 class="subtitle">
    <b>Fill out your information below!</b>
</h1>
<br /><br />

<div class = "example-container2">
  <mat-form-field class="familyName">
    <input matInput #name placeholder="Enter your given name/first name, make it unique to distinguish ex: (TestPatient1)" [(ngModel)]="givenName">
  </mat-form-field>
  <br /><br />
  <button *ngIf="!madeAdmin && !madePatient && !madePhysio" color = "primary" mat-raised-button (click)="registerPatientProfile()">Generate a Patient</button>
  <p *ngIf="madePatient">A Patient Profile has been made! Please proceed to enter his/her's user account info</p>
  <button *ngIf="!madeAdmin && !madePatient && !madePhysio" color = "primary" mat-raised-button (click)="registerPhysiotherapistProfile()">Generate a Physiotherapist</button>
  <p *ngIf="madePhysio">A Physiotherapist Profile has been made! Please proceed to enter his/her's user account info</p>
  <button *ngIf="!madeAdmin && !madePatient && !madePhysio" color = "primary" mat-raised-button (click)="registerAdministratorProfile()">Generate a Administrator</button>
  <p *ngIf="madeAdmin">An Administrator Profile has been made! Please proceed to enter his/her's user account info</p>
</div>

<div class="example-container2">
    <mat-form-field class="name">
        <input matInput #name placeholder="Enter your desired username" [(ngModel)]="username">
    </mat-form-field>

    <mat-form-field class="authorName">
        <input matInput #authorName placeholder="Enter you desired password "[(ngModel)]="password">
    </mat-form-field>

    <mat-form-field class="authorName">
      <input matInput #authorName placeholder="Enter your desired password again "[(ngModel)]="passwordVerify" >
    </mat-form-field>
    <br /><br />
  <button mat-raised-button color="accent"(click)="registerUserAccount()">Create Account!</button>

</div>

