@import '~@angular/material/theming';

/******* Colours ********/

$magic-night: #3A3C5A;
$cobalt: #3D4476;
$white: #FFFFFF;
$black: #000000;
$beautiful-blue: #206EB4;
$rare-turquoise: #0E748C;
$electric-glow: #FED030;
$flash-of-orange: #FDA92A;

$sss-magic-night: (
  300: #e57373,
  400: #ef5350,
  500: $magic-night,
  contrast: (
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
  )
);

$sss-cobalt: (
  300: #e57373,
  400: #ef5350,
  500: #3D4476,
  contrast: (
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
  )
);

$sss-beautiful-blue: (
  300: #e57373,
  400: #ef5350,
  500: #206EB4,
  contrast: (
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
  )
);

$sss-rare-turquoise: (
  300: #e57373,
  400: #ef5350,
  500: #0E748C,
  contrast: (
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
  )
);

$sss-electric-glow: (
  300: #e57373,
  400: #ef5350,
  500: #FED030,
  contrast: (
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
  )
);

$sss-flash-of-orange: (
  300: #e57373,
  400: #ef5350,
  500: #FDA92A,
  contrast: (
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
  )
);

$global-background-color: #f9f9f9;

/******* Sizing ********/
$dashboard-card-margin: 10px;
$form-margin: 10px;

