/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';
//@import './self-start-theme';
@import './variables';
@import './mixins';

//Set global background color
html, body, .container{
  background-color: $global-background-color;
}

.full-height{
  height: 100%;
}

button {
  border-radius: 0;
}

button:focus, button:active:focus, button.active:focus {
  outline: 0 none;
}

