<app-navbar-general></app-navbar-general>

<div class="content">
    <div class = "parallax">
        <div class="title">
            <br />
            Welcome to Marcotte Physiotherapy!
        </div>
        <div class="subtitle">
            <br />
            pain stops here
        </div>
        <div class="subtitle-2">
            You already have everything you need to start enjoying life again.
        </div>
        <div class="button">
            <br /><br/>
            <button mat-raised-button routerLink="/register" class="login-button">Create New Account</button>
            <br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>

        <div class="text-box">
            <div class="subtitle">
                Self Start Body Smart
            </div>
            <br /><br />
            How would you like to understand how the body works, why you experience pain in the body and help lead you towards a more enjoyable pain free life?
            <br /><br />
            Unfortunately, so many people simply don’t understand how the body works. This leaves them feeling helpless when it comes to treating the pain they experience in their body.
            <br /><br />
            How would you like to live pain-free so that you can get back to doing what you love most?
            <br /><br />
            As a physiotherapist for over three decades, I can help.
            <br /><br />
            My name is Stephanie Marcotte & I have helped thousands of people free themselves from the pain and suffering caused by issues and imbalances with the musculoskeletal system.
            <br /><br />
            Your musculoskeletal system is what allows you to move. When it is working properly, you not only move better, but you move without pain, too. But, when you have injured or strained this system, you experience pain.
            <br />
            • Muscle strains<br />
            • Sprains<br />
            • Fractures<br />
            • Ligament injuries <br />
            • Sports injuries<br />
            • Acute pain<br />
            • Chronic pain<br />
            • Post-injury pain<br />
            • Post-surgical pain<br />
            <br /><br />
            And while there are plenty of options when it comes to relieving pain with external treatments (like drugs, braces, supports, exercises, etc.), they don’t always get to the root of your problem:
            <br />
            <b>Your musculoskeletal system.</b>
            <br /><br />
            I can help you find and understand the source of your pain based on your musculoskeletal system. The same system that creates the pain in your body, can help you recover from your pain. The solution to your pain actually lies within your own body.
            <br /><br />
            <b>I know it sounds simple, it is.</b>
            <br /><br />
            What if you could do something to help yourself? What if you understood what your body was communicating and thus could make lasting change. Changes that would help you move better into your latter years.
            <br /><br />
            I can show you how to tap into your body’s intuitive knowledge, helping you to better understand the actual source of your pain, so that you can fully recover from it.
            <br /><br />
            It is no longer appropriate to just label pain without actually fixing it.
            <br /><br />
            <b>You deserve better than that!</b>
            By learning how to effectively work with your body, you can create lasting changes, ones that will stay with you for the rest of your life. It all starts with creating proper design function in your body. Despite what you hear, the body is in no way, shape, or form weak, frail, or compromised.
            <br /><br />
            In fact, your body is intelligent, adaptive, and fully capable of healing itself!
        </div>
    </div>

</div>
