<app-navbar-physio></app-navbar-physio>

<mat-sidenav-container class="example-container" *ngIf="showSidebar">
  <mat-sidenav mode="side" opened>
      <mat-nav-list>
          <a mat-list-item routerLink=".">List of Patients</a>
          <a mat-list-item routerLink=".">Manage Patient Profile</a>
          <a mat-list-item class="selected" routerLink=".">Manage Rehabilitation Plans</a>
          <a mat-list-item routerLink=".">Manage Exercises</a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <h1 class="title">
          Manage Rehabilitation Plans <br />
          <button mat-raised-button class="login-button" routerLink="/new-rehabilitation-plan">Create a New Rehabilitation Plan</button>
      </h1>
      <br /><br /><br />
      <mat-card *ngFor="let plans of rehabilitationplans.rehabilitationPlan" (click) = "storeID(plans._id)" routerLink="/edit-rehabilitation-plan">
          <mat-card-title>{{ plans.name }}</mat-card-title>
          <mat-card-subtitle>Created by: {{ plans.authorName }}</mat-card-subtitle>
          <mat-card-subtitle>Goal: {{ plans.goal }}</mat-card-subtitle>
          <mat-card-subtitle>Timeframe: {{ plans.timeFrameToComplete }}</mat-card-subtitle>
      </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>


<!-- DYNAMIC SIDENAV (nightmare to work with) -->

<!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-nav-list>
            <a mat-list-item routerLink=".">List of Patients</a>
            <a mat-list-item routerLink=".">Manage Patient Profile</a>
            <a mat-list-item routerLink=".">Manage Rehabilitation Plans</a>
            <a mat-list-item routerLink=".">Manage Exercises</a>
        </mat-nav-list>
    </mat-drawer>

    <div class="example-sidenav-content">
        <button mat-button (click)="drawer.toggle(); showSidebar=!showSidebar;" class="mat-small">
            <mat-icon *ngIf="showSidebar">keyboard_arrow_right</mat-icon>
            <mat-icon *ngIf="!showSidebar">keyboard_arrow_left</mat-icon>
        </button>
        <h1 style="font-family: 'Roboto Condensed', sans-serif;" class="title">
            Existing Rehabilitation Plans
        </h1>
        <br/> <br />

        <br/>
        <mat-card class="dashboard-card">
            <mat-card-title>Title 1</mat-card-title>
            <mat-card-subtitle>Subtitles</mat-card-subtitle>
            <mat-card-content>
                Simple card
            </mat-card-content>


            <mat-card-actions>
                <button mat-button class="launch">Select</button>
            </mat-card-actions>
        </mat-card>
    </div>

</mat-drawer-container> -->
