<app-navbar-general></app-navbar-general>


<div class="content">
    <div class="parallax">
        <br/><br /><br/><br /><br />
        <div class="title">
            What I Believe
        </div>
        <br/> <br/><br/><br /><br />
        <div class="text-box">
            I believe movement is life
            <br />
            I believe you can heal your body with a return to simple functional
            movement patterns
            <br />
            I believe it is never too late to create change in a body and it can happen
            faster than you ever thought possible.
            <br />
            I believe your body know what it needs
            <br />
            I believe every system in your body relies on a functional musculoskeletal
            system. The musculoskeletal system is the body system that provides the framework for movement and stability.
            <br /><br />
            All systems in the body work on movement: <br />
            • the heart beats <br />
            • the lungs breathe<br />
            • the stomach grinds<br />
            • the colon transports the blood flows<br />
            • the nerves conduct<br />
            • the muscles contract
            <br /><br />
            Pain in the body begins when movement patterns are impaired.
            <br />
            Restore your bodies proper design for movement and the pain will cease.
            <br />
            No fancy machinery or pills required; your body already has everything it needs to heal.
            <br /><br />
            I believe you need to trust yourself; you have the ability to help yourself.
            <br />
            I believe you need to take responsibility for your present state of health.
            <br />
            I believe with your commitment to change, you can become free of pain.
            <br />
            I believe your age does not limit you from feeling good again.
            <br />
            It is never too late to begin. <b>Let's get started.</b>
        </div>

    </div>
</div>
