<mat-toolbar class="z-depth-5">
  <span class="full-height">
    <img class="logo" src="../../assets/images/logo.png" alt="Self Start System logo">
  </span>

  <span class="navbar-fill-remaining-space"></span>
  <span class="full-height">
    <!--[routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"-->
    <button routerLink="/physio/home" mat-button class="full-height">Dashboard</button>
    <button routerLink="/physio/exercises" mat-button class="full-height">Exercises</button>
    <button routerLink="/physio/rehabilitation-plans" mat-button class="full-height">Rehabilitation Plan</button>
    <button mat-button routerLink="/physio/home" class="full-height">Appointments</button>
    <button mat-button routerLink="/physio/patients" class="full-height">Patients</button>
    <button mat-raised-button routerLink ="/home" class="logout-button">Logout</button>
  </span>
</mat-toolbar>
