<mat-toolbar color="primary">
  <span class="full-height">
    <img class="logo" src="../../assets/images/logo.png" alt="Self Start System logo">
  </span>

  <span class="navbar-fill-remaining-space"></span>
  <span class="full-height">
    <!--[routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"-->
    <button routerLink="physio" mat-button class="full-height">Dashboard</button>
    <button routerLink="/exercise" mat-button class="full-height">Exercises</button>
    <button mat-button class="full-height">Task 2</button>
    <button mat-button class="full-height">Task 3</button>
    <button mat-button class="full-height login-button">Login</button>
  </span>
</mat-toolbar>
