<app-navbar-general></app-navbar-general>


<div class="content">
    <div >

        <div class="text-box">
            <div class="title">
                Our Services
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <mat-card>
                        <mat-card-title>Assessment Package</mat-card-title>
                        <br /><br />
                        Initial consult via email & video conference
                        <br /><br /><br />
                        Personal online account Therapy Plan - accessed on your account
                        <br /><br /><br /><br /><br /><br />
                        <b>Education, Advice</b>
                        <br />
                        <mat-card-title>$150</mat-card-title>
                    </mat-card>
                </div>
                <div class="col-md-4">
                    <mat-card>
                        <mat-card-title>Assessment + 3 Sessions</mat-card-title>
                        <br />
                        Initial consult via email & video conference
                        <br /><br />
                        3 further online sessions via email and/or video conference
                        <br /><br /><br />
                        Personal online account Therapy Plan - accessed on your account
                        <br /><br /><br /><br />
                        <b>Education, Advice</b>
                        <br />
                        <mat-card-title>$350</mat-card-title>
                    </mat-card>
                </div>
                <div class="col-md-4">
                    <mat-card>
                        <mat-card-title>Assessment + 6 Sessions</mat-card-title>
                        <br />
                        Initial consult via email & video conference
                        <br /><br />
                        6 further online sessions via email and/or video conference
                        <br /><br /><br />
                        Personal online account Therapy Plan - accessed on your account
                        <br /><br /><br /><br />
                        <b>Education, Advice</b>
                        <br />
                        <mat-card-title>$550</mat-card-title>
                    </mat-card>
                </div>
            </div>
        </div>

    </div>
</div>
