<app-navbar-general></app-navbar-general>

<h1 class="title">
  Login<br /><br />
</h1>


<div class="container">
  <div class ="fields">
  <mat-form-field>
    <input matInput #name placeholder="Username">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" #description placeholder="Password">
  </mat-form-field>
  </div>
  <button mat-raised-button color="primary" class="login-button" routerLink="/rehabilitation-plan" >Submit</button>
  <button mat-raised-button color="accent" class="login-button" routerLink="/rehabilitation-plan" >Forgot Password</button>

</div>


