<app-navbar-general></app-navbar-general>

<div class="background">
    <h1 class="title">
        Login<br /><br />
    </h1>
    <mat-card class="container">
        <div class ="fields">
            <mat-form-field>
                <input matInput #name placeholder="Username" [(ngModel)]="username">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" #description placeholder="Password"[(ngModel)]="password">
            </mat-form-field>
        </div>
        <b style="color:Tomato" *ngIf="statusMessage && triedLogin">{{statusMessage}}<br/></b>
        <b style="color:#196804"  *ngIf="!statusMessage && triedLogin">Success! Password verified! Redirecting to home page...<br /></b>
        <button mat-raised-button color="primary" class="login-button"  (click)="submitLogin()">Submit</button> <br />
        <a href="">Forgot Password?</a>
        <br />
    </mat-card>
</div>
