<app-navbar-physio></app-navbar-physio>

<div class="container">
  <h1 class="title text-center">Book Appointment Form</h1>

  <!--Main form card-->
  <mat-card class="good-width">
    <form class="create-new-event-form">

      <!--Warning user on what time they can pick-->
      <mat-card-subtitle>
        <p>Please choose an start time after
          {{minStartTime.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true })}}
          and an end time before
          {{maxEndTime.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true })}}.
        </p>
      </mat-card-subtitle>

      <!--Choosing type of assessment-->
      <p>Type of Assessment: </p>
      <mat-radio-group (change)="onChangeRadioGroup($event)">
        <mat-radio-button checked value="1">Follow-Up Treatment</mat-radio-button>
        <br />
        <mat-radio-button value="2">Initial Assessment</mat-radio-button>
      </mat-radio-group>

      <br />

      <!--Start Beginning date-->
      <mat-form-field>
        <input matInput disabled name="startDateInput" [(ngModel)]="startDate"
               [matDatepicker]="startDatePicker" placeholder="Start Date">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput name="startTimeInput" [(ngModel)]="startTime"
               (change)="onStartTimeChange()"
               type="time" placeholder="Start Time" value="">
      </mat-form-field>
      <!--End Beginning date-->

      <mat-form-field>
        <input matInput disabled name="endTimeInput" [ngModel]="endTime"
               (change)="onChangeEndTime()"
               type="time" placeholder="End Time" value="">
      </mat-form-field>
      <!--End End date-->

      <br>

      <!--Communication method-->
      <mat-form-field>
        <mat-select placeholder="Contact Method" [(ngModel)]="contactMethod" name="contactMethod">
          <mat-option value="phone">Phone</mat-option>
          <mat-option value="videoConference">Video Conference</mat-option>
          <mat-option value="emailConference">Email</mat-option>
        </mat-select>
      </mat-form-field>
      <!--End of Communication method-->

      <!--Warning message-->
      <p *ngIf="hasError">
        {{errorMsg}}
      </p>

      <div class="row no-margin">
        <button class="cancel-button" mat-raised-button (click)="onClickCancel()">Cancel</button>
        <button class="save-button book-button" mat-raised-button [disabled]="hasError" (click)="onClickBook()">Book</button>
        <button class="save-button" mat-raised-button (click)="onClickOpenForms()"> {{disableForm ? 'Open Form' : 'Close Form' }}</button>
      </div>

    </form>
  </mat-card>

  <!--RESERVED SPACE FOR NICK'S FORM-->
  <mat-card class="appointment-form" *ngIf="!disableForm">
    <p>Nick's Form</p>
  </mat-card>
</div>
