<app-navbar-patient></app-navbar-patient>

<div class="container top">
	<div class="row">
		<div class="col">
			<mat-card>
				<h1>Assessment Test</h1>
				<hr>
				<!-- Row 1-->
				<div class="row">
					<div class="col-6 form-container">
						<mat-form-field>
							<input matInput placeholder="Name" [(ngModel)]="assessmentTest.name" name="assessmentTest.name">
						</mat-form-field>
					</div>
					<div class="col-6 form-container">
						<mat-form-field>
							<input matInput placeholder="Author" [(ngModel)]="assessmentTest.authorName" name="assessmentTest.authorName">
						</mat-form-field>
					</div>
				</div>
				<!-- Row 2 -->
				<div class="row">
					<div class="col-12 form-container">
						<mat-form-field>
							<input matInput placeholder="Description" [(ngModel)]="assessmentTest.description" name="assessmentTest.description">
						</mat-form-field>
					</div>
				</div>
				<!-- Row 3 -->
				<div class="row">
					<div class="col-10 form-container">
						<h6>Please answer the questions below:</h6>
					</div>
				</div>
			</mat-card>
		</div>
	</div>
</div>
