.header {
	padding: 2%;
}

.form-container {
	padding: 2%;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form-container > * {
	width: 100%;
}

.label-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}
