<div class="container">
	<div class="row">
		<div class="col border">
			<!-- Page Header -->
			<div class="header">
				<h1>SelfStart Registration</h1>
			</div>
			<!-- Personal Information -->
			<mat-horizontal-stepper>
				<mat-step>
					<ng-template matStepLabel>Personal Information</ng-template>
					<div class="col">
						<form class="form-container" name="personalInfoForm">
							<!-- Row 1 -->
							<div class="row">
								<div class="col form-container">
									<mat-form-field>
										<input matInput placeholder="First Name" [value]="" required>
									</mat-form-field>

								</div>
								<div class="col form-container">
									<mat-form-field>
										<input matInput placeholder="Last Name" [value]="" required>
									</mat-form-field>
								</div>
							</div>
							<!-- Row 2 -->
							<div class="row">
								<div class="col-4 form-container">
									<mat-form-field>
										<mat-select [value]="" placeholder="Gender" required>
											<mat-option value="Male">Male</mat-option>
											<mat-option value="Female">Female</mat-option>
											<mat-option value="Other">Other</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<div class="col-8 form-container">
									<mat-form-field>
									  <input matInput [matDatepicker]="picker" placeholder="Date of Birth"required>
									  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
									  <mat-datepicker #picker></mat-datepicker>
									</mat-form-field>
								</div>
							</div>
							<!-- Row 3 -->
							<div class="row">
								<div class="col-4 form-container">
									<mat-form-field>
										<input matInput placeholder="Street" [value]="" required>
									</mat-form-field>
								</div>
								<div class="col-4 form-container">
									<mat-form-field>
										<input matInput placeholder="City" [value]="" required>
									</mat-form-field>
								</div>
								<div class="col-2 form-container">
									<mat-form-field>
									  <mat-select [value]="" placeholder="Province" required>
										  <mat-option value="AB">AB</mat-option>
										  <mat-option value="BC">BC</mat-option>
										  <mat-option value="MB">MB</mat-option>
										  <mat-option value="NB">NB</mat-option>
										  <mat-option value="NL">NL</mat-option>
										  <mat-option value="NS">NS</mat-option>
										  <mat-option value="NT">NT</mat-option>
										  <mat-option value="NU">NU</mat-option>
										  <mat-option value="ON">ON</mat-option>
										  <mat-option value="PE">PE</mat-option>
										  <mat-option value="QC">QC</mat-option>
										  <mat-option value="SK">SK</mat-option>
										  <mat-option value="YT">YT</mat-option>
									  </mat-select>
									</mat-form-field>
								</div>
								<div class="col-2 form-container">
									<mat-form-field>
										<input matInput placeholder="Postal Code" [value]="" required>
									</mat-form-field>
								</div>
							</div>
							<!-- Row 4 -->
							<div class="row">
								<div class="col-8 form-container">
									<mat-form-field>
										<input matInput placeholder="Email" [value]="" required>
									</mat-form-field>
								</div>
								<div class="col-4 form-container">
									<mat-form-field>
										<input matInput placeholder="Phone Number" [value]="" required>
									</mat-form-field>
								</div>
							</div>
						</form>
						<div class="row">
							<div class="col-3 button-container">
								<button mat-button matStepperNext class="next-button">Next</button>
							</div>
						</div>
					</div>
				</mat-step>

				<!-- Account Information -->
				<mat-step>
					<ng-template matStepLabel>Account Information</ng-template>
					<div class="col">
						<form class="form-container">
							<!-- Row 1 -->
							<div class="row">
								<div class="col form-container">
									<mat-form-field>
										<input matInput placeholder="User Name" [value]="" required>
									</mat-form-field>
								</div>
							</div>
							<!-- Row 2 -->
							<div class="row">
								<div class="col form-container">
									<mat-form-field>
										<input matInput type="password" placeholder="Password" [value]="" required>
									</mat-form-field>
								</div>
							</div>
							<!-- Row 3 -->
							<div class="row">
								<div class="col form-container">
									<mat-form-field>
										<input matInput type="password" placeholder="Confrirm Password" [value]="" required>
									</mat-form-field>
								</div>
							</div>
						</form>
						<div class="row">
							<div class="col-3 button-container">
								<button mat-button matStepperPrevious class="previous-button">Back</button>
							</div>
							<div class="col-3 button-container">
								<button mat-button matStepperNext class="next-button">Register</button>
							</div>
						</div>
					</div>
				</mat-step>

				<!-- Finish Page -->
				<mat-step>
					<ng-template matStepLabel>Confirm Registration</ng-template>
					<div class="col">
						<div class="row form-container">
							<h3>Thanks for registering!</h3> <br/>
							<p> A confirmation email in on the way. Follow the steps to activate your account.</p> <br/>
							<p> Already activated your account? Login here </p>
						</div>
					</div>
				</mat-step>
			</mat-horizontal-stepper>
		</div>
	</div>
</div>
