
<div *ngIf="isDataLoaded">
<app-navbar-patient></app-navbar-patient>

<div class="container top">
	<div class="row">
		<div class="col">
			<mat-card>
				<h2>Treatments and Rehabilitation Plans</h2>
				<hr>
				<div class="row">
					<div class="col-md-4 border-right">
						<mat-list class="plan-list">
							<h6>Treatments</h6>
							<mat-divider></mat-divider>
							<mat-list-item *ngFor="let treatment of treatments; let i = index" [attr.data-index]="i" class="list" (click)="showTreatment(i)">
								<div class="col-6 form-container">
									Start: {{ treatment?.dateStart | date : "dd.MM.y" }}
								</div>
								<div class="col-6 form-container">
									<div *ngIf="activeTreatment.dateFinished == null; showEndDate">End: In Progress</div>
									<ng-template #showEndDate>
										<b>End:</b> {{ activeTreatment?.dateFinished | date : "dd.MM.y" }}
									</ng-template>
								</div>
							</mat-list-item>
							<mat-divider></mat-divider>
					</mat-list>
					</div>
					<div class="col-md-8 col-md-offset-2">
						<div *ngIf="showDetails">
								<!-- Treatment Details -->
								<h4>Treatment</h4>
								<hr>
								<div class="row">
									<div class="col-6 form-container">
										<b>Started:</b> {{ activeTreatment?.dateStart | date : "dd.MM.y" }}
									</div>
									<div class="col-6 form-container">
										<b>Finished:</b> {{ activeTreatment?.dateFinished | date : "dd.MM.y" }}
										<div *ngIf="activeTreatment?.dateFinished == null">In Progress</div>
									</div>
								</div>
								<hr>
								<!-- Rehabilitation Plan Details -->
								<h4>Rehabilitation Plan</h4>
								<hr>
								<div class="row">
									<div class="col-6 form-container">
										<b>Name</b> {{ activeRehabPlan?.name }}
										<hr>
									</div>
									<div class="col-6 form-container">
										<b>Author</b> {{ activeRehabPlan?.authorName }}
										<hr>
									</div>
								</div>
								<div class="row">
									<div class="col form-container">
										<b>Description</b> {{ activeRehabPlan?.description }}
										<hr>
									</div>
								</div>
								<div class="row">
									<div class="col-8 form-container">
										<b>Goal</b> {{ activeRehabPlan?.goal }}
										<hr>
									</div>
									<div class="col-4 form-container">
										<b>Time Frame to Complete</b> {{ activeRehabPlan?.timeFrameToComplete }}
										<hr>
									</div>
								</div>
								<!-- Buttons -->
								<div class="row">
									<div class="col">
										<button mat-raised-button class="next-button" (click)="viewExercises()">View Exercises</button>
										<button mat-raised-button class="previous-button" (click)="viewAssessmentTests()">View Assessment Tests</button>
									</div>
								</div>
						</div>
						<!-- Show then exercises button is clicked -->
						<div *ngIf="showExercises">
							<div class="row">
								<div class="col form-container">
									<h6>Exercises</h6>
										<mat-list>
											<mat-divider></mat-divider>
											<div *ngIf="exercises.length > 0; else noExercises">
												<div *ngFor="let exercise of exercises; let i = index" [attr.data-index]="i" class="list">
													<mat-list-item>
													<div class="col-10">
														Exercise Name: {{ exercise?.name }}
													</div>
													<div class="col-2">
														<button mat-raised-button class="view-button" (click)="showExerciseDetails(i)">Details</button>
													</div>
													</mat-list-item>
													<mat-divider></mat-divider>
												</div>
											</div>
											<ng-template #noExercises>
												<div class="empty">
													<p>No exercises.</p>
												</div>
											</ng-template>
										</mat-list>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<button mat-raised-button class="next-button" (click)="viewPlanDetails()">View Plan Details</button>
									<button mat-raised-button class="previous-button" (click)="viewAssessmentTests()">View Assessment Tests</button>
								</div>
							</div>
						</div>
						<!-- Show when assessment tests button is clicked -->
						<div *ngIf="showAssessmentTests">
							<div class="row">
								<div class="col form-container">
									<h6>Assessment Tests</h6>
									<mat-list>
										<mat-divider></mat-divider>
										<div *ngIf="assessmentTests.length > 0; else noAssessmentTests">
											<div *ngFor="let test of assessmentTests; let i = index" [attr.data-index]="i" class="list">
												<mat-list-item>
														<div class="col-6">
															Name: {{ test?.name }}
														</div>
														<div class="col-4">
															Open Date: {{ test?.openDate | date : "dd.MM.y" }}
														</div>
														<div class="col-2">
															<button mat-raised-button class="view-button" (click)="viewAssessmentTest(i)">Complete</button>
														</div>
												</mat-list-item>
												<mat-divider></mat-divider>
											</div>
										</div>
										<ng-template #noAssessmentTests>
											<div class="empty">
												<p>No assessment test to be completed.</p>
											</div>
										</ng-template>
									</mat-list>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<button mat-raised-button class="next-button" (click)="viewPlanDetails()">View Plan Details</button>
									<button mat-raised-button class="previous-button" (click)="viewExercises()">View Exercises</button>
								</div>
							</div>
						</div>
						<!-- Show then exercises button is clicked -->
						<div *ngIf="viewExerciseDetails">
							<div class="row">
									<div class="col-12">
											<h5><b>{{ activeExercise.name }}</b><mat-icon class="icon" matTooltip="Exercise List" (click)="viewExercises()">list</mat-icon></h5>

											<hr>
									</div>
								</div>
									<!-- Row 2 -->
									<div class="row">
										<div class="col-12">
											<b>Description: </b> {{ activeExercise?.description }}
											<hr>
										</div>
									</div>
									<!-- Row 3 -->
									<div class="row">
										<div class="col-12">
											<b>Objectives: </b> {{ activeExercise?.objectives }}
											<hr>
										</div>
									</div>
									<!-- Row 4 -->
									<div class="row">
										<div class="col-12">
											<b>Action Steps: </b> {{ activeExercise?.actionSteps }}
											<hr>
										</div>
									</div>
									<!-- Row 5 -->
									<div class="row">
										<div class="col-6">
											<b>Frequency: </b> {{ activeExercise?.frequency }}
											<hr>
										</div>
										<div class="col-6">
											<b>Duration: </b> {{ activeExercise?.duration }}
											<hr>
										</div>
									</div>
									<!-- Row 6 -->
									<div class="row">
										<div class="col-12">
												<img src="{{activeExercise.multimediaURL}}" class="image-container">
											<hr>
										</div>
									</div>
								</div>
							</div>
						</div>
					</mat-card>
				</div>
			</div>
		</div>
	</div>
