@import '../../scss/_variables';
@import '../../scss/sidebar';
@import '~@angular/material/theming';

.example-container2 {
  // display: flex;
  width: 600px !important;
  font-size: 20px;
  text-align: center;
  margin-left: 24%;

  justify-content: center !important;
  flex-direction: column;
}

.example-container2 > * {
  width: 100%;
}

.title {
    justify-content: center !important;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    position: relative;
    top:20px;
}
mat-card {
    align-items: center;
    height: 250px;
    width: 200px;
}


.example-container {
    width: 100vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    // position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
