<mat-toolbar class="z-depth-5">
  <a class="full-height" href="/patient/home">
    <img class="logo" src="../../assets/images/logo.png" alt="Self Start System logo">
  </a>

  <span class="navbar-fill-remaining-space"></span>
  <span class="full-height">
    <!--[routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"-->
    <button mat-button routerLink="/patient/messages" class="full-height">Messages</button>
    <button mat-button routerLink="/patient/home" class="full-height">Dashboard</button>
    <button mat-button routerLink="/patient/book-appointment" class="full-height">Book Appointment</button>
    <!--<button mat-raised-button (click)="logout()" class="logout-button">Logout</button>-->
  <button class = "profile-button" mat-raised-button [matMenuTriggerFor]="appMenu">
    <span>{{this.name}}</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  </span>
  <mat-menu #appMenu="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below">
    <button mat-menu-item (click) ="editProfile()">Edit Profile</button>
    <button mat-menu-item (click) ="logout()">Logout</button>
  </mat-menu>

</mat-toolbar>
