<app-navbar-physio></app-navbar-physio>

<!--Start of Textboxes-->
<div class="container">
  <div class="row">
    <!--Card 1-->
    <div class="col-md-4">
      <mat-card class="dashboard-card">
        <mat-card-title>Title 1</mat-card-title>
        <mat-card-subtitle>Subtitles</mat-card-subtitle>
        <mat-card-content>
          Simple card
        </mat-card-content>

        <img mat-card-image src="../../assets/images/placeholder.jpeg">

        <mat-card-actions>
          <button mat-button class="launch">Launch</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <!--Card 2-->
    <div class="col-md-4">
      <mat-card class="dashboard-card">
        <!--<mat-card-header>-->
        <mat-card-title>Title 2</mat-card-title>
        <mat-card-subtitle>Subtitles</mat-card-subtitle>
        <!--<img mat-card-avatar src="../../assets/images/logo.png" >-->
        <!--</mat-card-header>-->
        <mat-card-content>
          Simple card
        </mat-card-content>

        <img mat-card-image src="../../assets/images/placeholder.jpeg">

        <mat-card-actions>
          <button mat-button class="launch">Launch</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <!--Card 3-->
    <div class="col-md-4">
      <mat-card class="dashboard-card">
        <mat-card-title>Title 3</mat-card-title>
        <mat-card-subtitle>Subtitles</mat-card-subtitle>
        <mat-card-content>
          Simple card
        </mat-card-content>

        <img mat-card-image src="../../assets/images/placeholder.jpeg">

        <mat-card-actions>
          <button mat-button class="launch">Launch</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <!--Row #2-->
  <div class="row">
    <!--Card 1-->
    <div class="col-md-4">
      <mat-card class="dashboard-card">
        <mat-card-title>Title 4</mat-card-title>
        <mat-card-subtitle>Subtitles</mat-card-subtitle>
        <mat-card-content>
          Simple card
        </mat-card-content>

        <img mat-card-image src="../../assets/images/placeholder.jpeg">

        <mat-card-actions>
          <button mat-button class="launch">Launch</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <!--Card 2-->
    <div class="col-md-4">
      <mat-card class="dashboard-card">
        <!--<mat-card-header>-->
        <mat-card-title>Title 5</mat-card-title>
        <mat-card-subtitle>Subtitles</mat-card-subtitle>
        <!--<img mat-card-avatar src="../../assets/images/logo.png" >-->
        <!--</mat-card-header>-->
        <mat-card-content>
          Simple card
        </mat-card-content>

        <img mat-card-image src="../../assets/images/placeholder.jpeg">

        <mat-card-actions>
          <button mat-button class="launch">Launch</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <!--Card 3-->
    <div class="col-md-4">
      <mat-card class="dashboard-card">
        <mat-card-title>Title 6</mat-card-title>
        <mat-card-subtitle>Subtitles</mat-card-subtitle>
        <mat-card-content>
          Simple card
        </mat-card-content>

        <img mat-card-image src="../../assets/images/placeholder.jpeg">

        <mat-card-actions>
          <button mat-button class="launch">Launch</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
