<app-navbar-physio></app-navbar-physio>

<div class="row">
  <div class="col-md-12" align="center">
    <h1 class="title">
      Edit {{currentPatient.givenName + " " + currentPatient.familyName + "'s "}} Treatment Plans <br />
    </h1>
  </div>
</div>

<div class="treatment-list">
  <div class="row">
    <div class="col" align="center">
      <!-- Individual Treatments -->
      <div *ngFor="let treatment of treatments" class="card-container">
        <mat-card>

          <div class="row">
            <div class="col-md-8">
              <mat-card-title>Rehabilitation Plan: {{ treatment.rehabilitationPlan.name }}</mat-card-title>
              <!--<mat-card-subtitle>Assigned By: {{ treatment.physiotherapist.givenName + " " + treatment.physiotherapist.familyName }}</mat-card-subtitle>-->
              <mat-card-subtitle>Date Treatment Started: {{ treatment.dateStart | date:'fullDate' }}</mat-card-subtitle>
            </div>
            <div class="col-md-4 col-md-offset-10">
              <button mat-raised-button class="view-button" (click)="closeTreatment(treatment)">Close Treatment</button>
              <button mat-raised-button class="view-button" (click)="renewTreatment(treatment)">Renew Treatment</button>
              <button mat-raised-button class="view-button" (click)="editTreatment(treatment)">Edit Treatment</button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div class="rehab-plan-list">
  <div class="row">
    <div class="col-md-12" align="center">
      <form class="search-form">
        <mat-form-field class="search-field">
          <input matInput #search placeholder="Search Rehabilitation Plans..." [(ngModel)]="name" name="search" (input)="filterItem(search.value)">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
    </div>
    <div class="col-md-4" align="center" *ngFor="let rehabPlans of filteredRehabPlans">
      <mat-card class="rehab-plan-card" (click) = "addTreatment(rehabPlans)">
        <mat-card-title>{{ rehabPlans.name }}</mat-card-title>
        <mat-card-subtitle>Created by: {{ rehabPlans.authorName }}</mat-card-subtitle>
        <!--<mat-card-subtitle>Exercises: {{ listOfExercises(rehabPlans) }}</mat-card-subtitle>-->
      </mat-card>
    </div>
  </div>
</div>
