<div class="container">
	<div class="row">
		<div class="col">
			<!-- Search and Filter Area -->
			<div class="card-container">
				<mat-card>
					<h1>User Accounts</h1>
					<hr>
					<div class="row">
						<div class="col-md-10">
							<label>Filter By: </label>
							<mat-form-field>
							  <mat-select placeholder="">
							    <mat-option value="patient" selected>Patient</mat-option>
									<mat-option value="physiotherapist">Physiotherapist</mat-option>
							  </mat-select>
							</mat-form-field>
						</div>
						<div class="col-md-2 col-md-offset-10">
							<button mat-raised-button class="create-account-button" (click)="createAccount()">Create Account</button>
						</div>
					</div>
				</mat-card>
			</div>
			<!-- Individual User Cards -->
			<div *ngFor="let user of users; let i = index" [attr.data-index]="i" class="card-container">
				<mat-card>
					<div class="row">
						<div class="col-md-10">
						{{ user.givenName + " " + user.familyName }}
						</div>
						<div class="col-md-2 col-md-offset-10">
							<button mat-raised-button class="view-button" data-toggle="modal" data-target="#viewUserAccountModal" (click)="viewAccount(i)">View Account</button>
						</div>
					</div>
				</mat-card>
			</div>
		</div>
	</div>
</div>

<!-- User Account Model -->
<div class="modal fade" id="viewUserAccountModal" tabindex="-1" role="dialog"
		 aria-labelledby="viewUserAccountModalLabel" aria-hidden="true">
		 <div class="modal-dialog modal-lg">
			 <div class="modal-content">
				 <!-- Modal Header -->
				 <div class="modal-header">
					 <h4 class="modal-title" id="viewUserAccountModalLabel">
						Viewing: {{ users[activeIndex].givenName + " " + users[activeIndex].familyName }}
					 </h4>
					 <button type="button" class="close" data-dismiss="modal">
						 <span aria-hidden="true">&times;</span>
						 <span class="sr-only">Close</span>
					 </button>
				 </div>
				 <!-- Modal Body -->
				 <div class="modal-body">
					 <div class="row">
						 <div class="col-md-6">
							 <label>Username: </label>
							 <input matInput [(ngModel)]="activeUser.userAccountName" disabled>
							</div>
							<div class="col-md-6 col-md-offset-4">
								<label>Password: </label>
								<input matInput type="password" [(ngModel)]="activeUser.encryptedPassword" disabled>
								</div>

						</div>
			 </div>
			 <!-- Modal Footer -->
				 <div class="modal-footer">
					 <button mat-raised-button class="view-button" data-dismiss="modal" (click)="viewProfile()">View Profile</button>
					 <button mat-raised-button class="reset-button" (click)="resetPatientPassword()">Reset Password</button>
				</div>
		 </div>
	</div>
</div>
