@import '../../scss/_variables';

.card-container {
	padding-bottom: 1%;
}

.view-button {
	background-color: $magic-night;
	color: $white;
}

.create-account-button {
	background-color: $flash-of-orange;
	color: $white;
}

.reset-button {
	background-color: $electric-glow;
	color: $white;
}

.view-profile-button {
	background-color: $beautiful-blue;
	color: $white;
}
