@import '../../scss/_variables';

.top {
	margin-top: 2.5%;
}

.card-container {
	padding-bottom: 0.5%;
	//border-bottom: solid, 3px, grey;
}

.view-button {
	background-color: $magic-night;
	color: $white;
}

.view-button:hover {
	background-color: $white;
	color: $beautiful-blue;
}

.create-account-button {
	background-color: $flash-of-orange;
	color: $white;
}

.create-account-button:hover {
	background-color: $white;
	color: $flash-of-orange;
}

.reset-button {
	background-color: $electric-glow;
	color: $white;
}

.view-profile-button {
	background-color: $beautiful-blue;
	color: $white;
}

.card-item:hover {
	background-color: #F5F5F5;
}

.row-border {
	border-bottom: solid 3px, grey
}
