<app-navbar-admin></app-navbar-admin>

<div class="container">
	<div class="row">
		<div class="col">
			<!-- Search and Filter Area -->
			<div class="card-container top">
				<mat-card>
					<h1>User Accounts</h1>
					<hr>
					<div class="row">
						<div class="col-md-10">
							<label>Filter By: </label>
							<mat-form-field>
							  <mat-select placeholder="">
							    <mat-option value="0" (click)="setUserType(0)">Patient</mat-option>
									<mat-option value="1" (click)="setUserType(1)">Physiotherapist</mat-option>
							  </mat-select>
							</mat-form-field>
						</div>
						<div class="col-md-2 col-md-offset-10">
							<button mat-raised-button class="create-account-button" (click)="createAccount()">Create Account</button>
						</div>
					</div>
				</mat-card>
			</div>
			<!-- Individual User Cards -->
			<div *ngIf="!isPhysio; else physioList">
				<div *ngFor="let user of users; let i = index" [attr.data-index]="i" class="card-container">
					<mat-card class="card-item">
						<div class="row">
							<div class="col-md-10">
							{{ user.givenName + " " + user.familyName }}
							</div>
							<div class="col-md-2 col-md-offset-10">
								<button mat-raised-button class="view-button" data-toggle="modal" data-target="#viewUserAccountModal" (click)="viewAccount(i)">View Account</button>
							</div>
						</div>
					</mat-card>
				</div>
			</div>
			<!-- Individual Physio Cards -->
			<ng-template #physioList>
				<div *ngFor="let physiotherapist of physiotherapists; let i = index" [attr.data-index]="i" class="card-container">
					<mat-card>
						<div class="row">
							<div class="col-md-10">
							{{ physiotherapist.givenName + " " + physiotherapist.familyName }}
							</div>
							<div class="col-md-2 col-md-offset-10">
								<button mat-raised-button class="view-button" data-toggle="modal" data-target="#viewUserAccountModal" (click)="viewAccount(i)">View Account</button>
							</div>
						</div>
					</mat-card>
				</div>
			</ng-template>
		</div>
	</div>
</div>
