<app-navbar-general></app-navbar-general>

<div class="content">
    <div style="height:600px;background-color:#3A3C5A;opacity: 0.95;">
        <div class="about-stephanie">
            About Stephanie
        </div>
        <br/><br/><br/>

        <div class="ptext4">
            As a physiotherapist, Stephanie Marcotte has dedicated herself to helping others discover a
pain-free life by tapping into the power of their own body. Now, to help reach more people,
Stephanie has developed a unique online platform that allows her to share her expertise in a
convenient, effective, and personalized way.
With over three decades of professional experience, Stephanie inspires her clients to move towards
a better life, giving them the tools they need to feel better. Stephanie has studied and
observed thousands of bodies in injury and pain over the years. When in pain, whether physical
or emotional - we stop moving. The body bears the burdens in life, both mentally
and physically.
A keen observer of how the human body moves and works as
</div>

    </div>

    <div class = "parallax">

    </div>


    <div class = "parallax2">
        <!-- <div class="ptext">
            Welcome to Marcotte Physiotherapy!
        </div>
        <div class="ptext2">
            <br /><br /><br />
            more movement is more life!
        </div>
        <div class="title">
            <br /><br/>
        </div> -->
    </div>
</div>
